# examples
/examples

# configuration files
.**
*.config.js
/.git
/.yarn

# packages
**/*node_modules

# production
/packages/dalya-components/components
/packages/dalya-tools/tools
/packages/dalya-utils/build

# test
**/*.test.ts

# build
**/*build