# 
/.git
/.yarn

# examples
/examples

# configuration files
.**
*.config.js

# packages

# production
/packages/dalya-components/components
/packages/dalya-tools/tools
/packages/dalya-utils/build

# test
**/*.test.ts